<div class="wrapper">
    <div class="snp-wrap">
        <main class="main-section">
            <div style="padding-bottom:50px;"> <!-- -->
                <div style="display: flex; justify-content: space-between;">
                    <h2>Список лекарств</h2>

                    <div style="display: flex;  align-items: center;" *ngIf="tasks.length>0">
                        <select style="width: auto;" [(ngModel)]="selectedTaskNumberForEdit">
                            <option *ngFor="let task of tasks" [value]="task.number">{{ task.number }}</option>
                        </select>
                        <button style="margin-left:10px" (click)="loadTaskForEditing()">Изменить лекарство...</button>
                    </div>
                </div>

            </div>
            <table class="pharm-table">
                <tr>
                    <td class="pharm-table-td">Номер</td>
                    <td class="pharm-table-td">Название</td>
                    <td class="pharm-table-td">Категория</td>
                    <td class="pharm-table-td">Доза</td>
                    <td class="pharm-table-td">Состав</td>
                    <td class="pharm-table-td">Количество в упаковке</td>
                    <td class="pharm-table-td">Срок годности</td>
                    <td class="pharm-table-td">Наличие лекарства в аптеке</td>
                </tr>
                <tr *ngFor="let task of tasks" height='50%'>
                    <th class="pharm-table-td"> {{task.number}} </th>
                    <th class="pharm-table-td"> {{task.name}} </th>
                    <th class="pharm-table-td"> {{task.category}} </th>
                    <th class="pharm-table-td"> {{task.dose}} </th>
                    <th class="pharm-table-td">
                        <div *ngFor="let element of task.structureArray"> {{element}} </div>
                    </th>
                    <th class="pharm-table-td"> {{task.count}} </th>
                    <th class="pharm-table-td"> {{task.expirationDate}} </th>
                    <th class="pharm-table-td"> {{task.existence}} </th>
                </tr>
            </table>
        </main>
        <aside class="main-section">
            <div>
                <h2>Добавление лекарства</h2>
                <div class="stack-forms">
                    <label>Название лекарства</label><br>
                    <input class="textboxes" name="name" [(ngModel)]="newTask.name" #titlein="ngModel" required />
                    <div [hidden]="titlein.valid || titlein.untouched" class="red-alert">
                        Это поле обязательно для заполнения!
                    </div>
                </div>
                <div class="stack-forms">
                    <label>Название категории </label><br>
                    <select [(ngModel)]="newTask.category" name="category">
                        <option value="Гормоны">Гормоны</option>
                        <option value="Антибактериальные препараты">Антибактериальные препараты</option>
                        <option value="Препараты, влияющие на иммунитет">Препараты, влияющие на иммунитет</option>
                        <option value="Препараты влияющие на психику">Препараты влияющие на психику</option>
                        <option value="Препараты, влияющие на функции желудочно-кишечного тракта">Препараты,
                            влияющие на
                            функции желудочно-кишечного тракта</option>
                    </select>
                </div>
                <div class="stack-forms">
                    <label>Дозировка</label><br>
                    <textarea [(ngModel)]="newTask.dose" name="dose"></textarea>
                </div>
                <div class="stack-forms">
                    <label>Состав (используйте запятую в качестве разделителя)</label><br>
                    <textarea [(ngModel)]="structure" name="structure"></textarea>
                </div>
                <div class="stack-forms">
                    <label>Количество в упаковке</label><br>
                    <input name="count" [(ngModel)]="newTask.count" (keydown)="rejectNonNumeric($event)" />
                </div>
                <div class="stack-forms">
                    <label>Срок годности</label><br>
                    <input name="expirationDate" [(ngModel)]="newTask.expirationDate" #creatorin="ngModel" required
                        minlength="8" maxlength="10" (input)="onDateInput($event)" placeholder="DD/MM/YYYY">
                    <div [hidden]="creatorin.valid || creatorin.untouched" class="red-alert">
                        Это поле обязательно для заполнения!
                    </div>
                </div>
                <div>
                    <table style="width: 100%; display: flex; justify-content: space-between;">
                        <label style=" max-width: 40%;
                        word-wrap: break-word;">Наличие лекарства в аптеке</label>
                        <td>
                            <div>
                                <input type="radio" name="existence2" value=true [(ngModel)]="newTask.existence">Есть в
                                наличии<br>
                                <input type="radio" name="existence2" value=false [(ngModel)]="newTask.existence">Нет в
                                наличии<br>
                            </div>
                        </td>
                    </table>
                </div>
                <button style="margin-top: 10px;" (click)="addTask(titlein, creatorin)"
                    [disabled]="titlein.invalid || creatorin.invalid">Добавить</button><br>


            </div>

            <div class="tr-global" *ngIf="selectedTask!=null">
                <h2>Изменение лекарства</h2>
                <div class="stack-forms">
                    <label>Название лекарства</label><br>
                    <input name="name" [(ngModel)]="selectedTask.name" #titlein="ngModel" required />
                    <div [hidden]="titlein.valid || titlein.untouched" class="red-alert">
                        Это поле обязательно для заполнения!
                    </div>
                </div>
                <div class="stack-forms">
                    <label>Название категории </label><br>
                    <select [(ngModel)]="selectedTask.category" name="category">
                        <option value="Гормоны">Гормоны</option>
                        <option value="Антибактериальные препараты">Антибактериальные препараты</option>
                        <option value="Препараты, влияющие на иммунитет">Препараты, влияющие на иммунитет</option>
                        <option value="Препараты влияющие на психику">Препараты влияющие на психику</option>
                        <option value="Препараты, влияющие на функции желудочно-кишечного тракта">Препараты,
                            влияющие на функции желудочно-кишечного тракта</option>
                    </select>
                </div>
                <div class="stack-forms">
                    <label>Дозировка</label><br>
                    <textarea [(ngModel)]="selectedTask.dose" name="dose"></textarea>
                </div>
                <div class="stack-forms">
                    <label>Состав (используйте запятую в качестве разделителя)</label><br>
                    <textarea [(ngModel)]="structureSelected" name="structureSelected"></textarea>
                </div>
                <div class="stack-forms">
                    <label class="stack-forms">Количество в упаковке</label>

                    <input name="count" [(ngModel)]="selectedTask.count" pattern="[0-9]*">
                </div>
                <div class="stack-forms">
                    <label>Срок годности</label><br>
                    <input name="expirationDate" [(ngModel)]="selectedTask.expirationDate" #creatorin="ngModel"
                    required
                    minlength="8" maxlength="10" (input)="onDateInput($event)" placeholder="DD/MM/YYYY" />
                    <div [hidden]="creatorin.valid || creatorin.untouched" class="red-alert">
                        Это поле обязательно для заполнения!
                    </div>
                </div>
                <div class="stack-forms">
                    <table style="width: 100%; display: flex; justify-content: space-between;">
                        <label style=" max-width: 40%; word-wrap: break-word;">Наличие лекарства в аптеке</label>
                        <td>
                            <div>
                                <input type="radio" name="existence1" value=true
                                    [(ngModel)]="selectedTask.existence">Есть в
                                наличии<br>
                                <input type="radio" name="existence1" value=false
                                    [(ngModel)]="selectedTask.existence">Нет в
                                наличии<br>
                            </div>
                        </td>
                    </table>
                </div>
                <button style="margin-top: 10px;" (click)="updateTask()"
                    [disabled]="titlein.invalid || creatorin.invalid">Сохранить</button><br>
            </div>
        </aside>
    </div>
</div>