<div class="wrapper">
    <div class="snp-wrap">
        <main class="main-section">

            <div style="display: flex; justify-content: space-between; padding-bottom:50px;">
                <h2>Список аптек</h2>

                <div *ngIf="tasks.length>0">
                    <select [(ngModel)]="selectedTaskNumberForEdit">
                        <option *ngFor="let task of tasks" [value]="task.number">{{ task.number }}</option>
                    </select>
                    <button style="margin-top: 10px" (click)="loadTaskForEditing()">Изменить аптеку...</button>
                </div>
            </div>



            <table class="pharm-table">
                <tr>
                    <td class="pharm-table-td">Номер</td>
                    <td class="pharm-table-td">Название аптеки</td>
                    <td class="pharm-table-td">Адрес аптеки</td>
                    <td class="pharm-table-td">Названия компаний</td>
                    <td class="pharm-table-td">Количество сотрудников</td>
                    <td class="pharm-table-td">Дата открытия</td>
                    <td class="pharm-table-td">Производство собственных лекарственных препаратов</td>
                </tr>
                <tr *ngFor="let task of tasks" height='50%'>
                    <th class="pharm-table-td"> {{task.number}} </th>
                    <th class="pharm-table-td"> {{task.name}} </th>
                    <th class="pharm-table-td"> {{task.address}} </th>
                    <th class="pharm-table-td">
                        <div *ngFor="let element of task.namesCompany"> {{element}} </div>
                    </th>
                    <th class="pharm-table-td"> {{task.count}} </th>
                    <th class="pharm-table-td"> {{task.dateOpen}} </th>
                    <th class="pharm-table-td"> {{task.production}} </th>
                </tr>
            </table>
        </main>
        <aside class="main-section">

            <h2>Добавление аптеки</h2>
            <div class="stack-forms">
                <label>Название аптеки</label><br>
                <input name="name" [(ngModel)]="newTask.name" #titlein="ngModel" required />
                <div [hidden]="titlein.valid || titlein.untouched" class="red-alert">
                    Это поле обязательно для заполнения!
                </div>
            </div>
            <div class="stack-forms">
                <label>Адрес </label><br>
                <input name="address" [(ngModel)]="newTask.address">
            </div>
            <div class="stack-forms">
                <label>Названия компаний (Используйте запятую в виде разделителя)</label><br>
                <textarea [(ngModel)]="nameCompany" name="namesCompany"></textarea>
            </div>
            <div class="stack-forms">
                <label>Количество сотрудников</label><br>
                <input name="count" [(ngModel)]="newTask.count" (keydown)="rejectNonNumeric($event)">
            </div>
            <div class="stack-forms">
                <label>Дата открытия</label><br>
                <input name="dateOpen" [(ngModel)]="newTask.dateOpen" #creatorin="ngModel" required minlength="8" maxlength="10"
                    (input)="onDateInput($event)" placeholder="DD/MM/YYYY">
                <div [hidden]="creatorin.valid || creatorin.untouched" class="red-alert">
                    Это поле обязательно для заполнения!
                </div>
            </div>
            <div class="stack-forms">
                <label>Производство собственных лекарственных препаратов</label><br>
                <input type="radio" name="production" value=true [(ngModel)]="newTask.production">Да<br>
                <input type="radio" name="production" value=false [(ngModel)]="newTask.production">Нет<br>
            </div>
            <button style="margin-top: 10px;" (click)="addTask(titlein, creatorin)"
                [disabled]="titlein.invalid || creatorin.invalid">Добавить</button><br>


            <p></p>


            <div *ngIf="selectedTask!=null">
                <h2>Изменение аптеки</h2>
                <div class="stack-forms">
                    <label>Название аптеки</label><br>
                    <input name="name" [(ngModel)]="selectedTask.name" #titlein="ngModel" required />
                    <div [hidden]="titlein.valid || titlein.untouched" class="red-alert">
                        Это поле обязательно для заполнения!
                    </div>
                </div>
                <div class="stack-forms">
                    <label> Адрес </label><br>
                    <input name="address" [(ngModel)]="selectedTask.address">
                </div>
                <div class="stack-forms">
                    <label> Названия компаний (Используйте запятую в виде разделителя)</label><br>
                    <textarea [(ngModel)]="nameCompanySelected" name="nameCompanySelected"></textarea>
                </div>
                <div class="stack-forms">
                    
                    <label class="stack-forms">Количество в сотрудников</label><br>
                    <input name="count" [(ngModel)]="selectedTask.count" (keydown)="rejectNonNumeric($event)">
                </div>
                <div class="stack-forms">
                    <label>Дата открытия</label><br>
                    <input name="dateOpen" [(ngModel)]="selectedTask.dateOpen" #creatorin="ngModel" required
                       minlength="8" maxlength="10" (input)="onDateInput($event)" placeholder="DD/MM/YYYY">
                    <div [hidden]="creatorin.valid || creatorin.untouched" class="red-alert">
                        Это поле обязательно для заполнения!
                    </div>
                </div>
                <div>
                    <label>Производство собственных лекарственных препаратов</label><br>
                    <input type="radio" name="production2" value=true [(ngModel)]="selectedTask.production">Да<br>
                    <input type="radio" name="production2" value=false [(ngModel)]="selectedTask.production">Нет<br>
                </div>
                <button style="margin-top: 10px;" (click)="updateTask()"
                    [disabled]="titlein.invalid || creatorin.invalid">Сохранить</button><br>
            </div>
        </aside>
    </div>
</div>