.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
}

.snp-wrap {
    min-width: 1088px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}


body {margin:0;padding:0}

@font-face {
    font-family: 'Roboto Regular';
    src: url('assets/fonts/roboto_regular.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('assets/fonts/roboto_light.ttf');
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('assets/fonts/roboto_Thin.ttf');
}